

.newsletter{
    background-color: #F0F2F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 110px 0;
    text-align: center;

    .newsletter-text{
        margin-bottom: 25px;
        line-height: 30px;
    }

    form {
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;
        height: 50px;

        input[type=email]{
            border: 1px solid #D7D8DA;
            font-size: 20px;
            flex: 3;
            border-radius: 3px;
            margin-right: 15px;
            padding-left: 15px;
            height: 100%;
            }
        
        input[type=submit]{
            border: none;
            border-radius: 3px;
            font-size: 19px;
            background-color: $primary-color;
            color: white;
            padding: 15px;
            flex: 1;
            height: 100%;
        }
    }
}


